# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'hipsum'
      'submenu': [
        {
          'label': 'Paragraph'
          'command': 'hipsum:paragraph'
        },
        {
            'label': 'Paragraphs'
            'command': 'hipsum:paragraphs'
        },
        {
          'label': 'Sentence'
          'command': 'hipsum:sentence'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'hipsum'
      'submenu': [
        {
          'label': 'Paragraph'
          'command': 'hipsum:paragraph'
        },
        {
            'label': 'Paragraphs'
            'command': 'hipsum:paragraphs'
        },
        {
          'label': 'Sentence'
          'command': 'hipsum:sentence'
        }
      ]
    ]
  }
]
